.search-form {
  display: flex;
  width: 100%;
  margin-bottom: 5.4rem;
  
  &__input {
    font-size: 1.8rem;
    padding: 3rem 3.7rem;
    line-height: 1;
    width: 100%;
    background: #eeedeb;
    border: none;
    outline: none;
    border: 1px solid #eeedeb;

    &::placeholder {
      color: #878787;
    }
    &:active,
    &:focus {
      border: 1px solid $clr-primary;
    }
  }
  &__btn {
    background-color: $clr-primary;
    padding: 3rem 6.5rem;
    outline: none;
    border: none;
    
    .search-form__btn-img {
      width: 2.4rem;
      height: auto;
      object-fit: contain;
    }
  }

  @media (max-width: 576px) {
    &__input {
      padding: 1.5rem 2rem;
      font-size: 1.4rem;
    }
    &__btn {
      padding: 1.2rem 3rem;
    }
  }
}